.films-list-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.films-list-header {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0 1em;
}

.films-list-header form {
  margin: 1em;
}

.list-with-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 1em;
}

.remove-bullet {
  list-style-type: none;
}

.movie-banner {
  width: 35%;
  height: 30%;
}

.max-width-and-center {
  max-width: 1500px;
  margin: auto;
}

.loading {
  font-size: 2rem;
}